<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi velit
        aliquam magnam, voluptas similique recusandae odit adipisci sint,
        nesciunt vel numquam sapiente tempora incidunt officia iure asperiores
        consequatur aliquid nihil!
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi velit
        aliquam magnam, voluptas similique recusandae odit adipisci sint,
        nesciunt vel numquam sapiente tempora incidunt officia iure asperiores
        consequatur aliquid nihil!
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi velit
        aliquam magnam, voluptas similique recusandae odit adipisci sint,
        nesciunt vel numquam sapiente tempora incidunt officia iure asperiores
        consequatur aliquid nihil!
      </p>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
